<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="mRides_app.mRides_app" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="23" />
	<application android:label="mRides_app">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAz9p6O99w8ZWkFUbaREJXmnj01Mpm19dA" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
	<uses-permission android:name="com.googlemap.googlemap.permission.MAPS_RECEIVE" />
	<uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>